.menu {
      position: relative;
      display: inline-block;
      padding: 20px;
    }

    .menu-button {
      color:black;
      font-size: 20px;
      cursor: pointer;
    }

    .menu-button i {
      margin-left: 8px;
      font-size: 12px;
    }
    .dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      color: #000;
      min-width: 200px;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 6px;
    }

    .menu:hover .dropdown {
      display: block;
    }
    
    .dropdown a {
      display: block;
      padding: 5px 0;
      color: #000;
      text-decoration: none;
    }

    .dropdown a:hover {
      color: #2563eb;
    }
